{% extends 'base.html.twig' %}

{% block title %}Sale Items{% endblock %}

{% block content %}
    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Content area -->
        <div class="content">

            <!-- Form inputs -->
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">Sale Items</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a href="{{ path('sale_item_new') }}"><button class="btn btn-success">New</button></a>
                            <a class="list-icons-item" data-action="collapse"></a>
                            <a class="list-icons-item" data-action="reload"></a>
                            <a class="list-icons-item" data-action="remove"></a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Barcode</th>
                                <th>Title</th>
                                <th>Price</th>
                                <th>Created at</th>
                                <th>Updated at</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for sale_item in sale_items %}
                            <tr>
                                <td>{{ sale_item.barcode }}</td>
                                <td>{{ sale_item.title }}</td>
                                <td class="text-right">{{ sale_item.price | number_format(2, '.', ',') }}</td>
                                <td>{{ sale_item.getCreatedAt ? sale_item.getCreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ sale_item.getUpdatedAt ? sale_item.getUpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td class="no-wrap-content">
                                    <a href="{{ path('sale_item_show', {'id': sale_item.id}) }}" class="btn btn-outline-primary btn-xs" title="Show"><i class="fas fa-eye"></i></a>
                                    <a href="{{ path('sale_item_edit', {'id': sale_item.id}) }}" class="btn btn-outline-warning btn-xs" title="Edit"><i class="fas fa-edit"></i></a>
                                    {{ include('sale_item/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /form inputs -->
        </div>
        <!-- /content area -->
    </div>
    <!-- /main content -->
{% endblock %}

{% block javascript_extras %}
    <!-- Theme JS files -->
    <script src="{{ asset('js/demo_pages/form_inputs.js') }}"></script>

    <script>
        $(document).ready(() => {
            $('.table').DataTable();
        });
    </script>
{% endblock %}
