{% extends 'base.html.twig' %}

{% block title %}Shopping Carts{% endblock %}

{% block content %}
    <!-- Main content -->
    <div class="content-wrapper">
        <!-- Content area -->
        <div class="content">
            <!-- Form inputs -->
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">Shopping Carts</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                            <a class="list-icons-item" data-action="reload"></a>
                            <a class="list-icons-item" data-action="remove"></a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <table class="dataTable datatable no-footer table table-bordered table-fixed table-hover table-striped tableau">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Purchase At</th>
                                <th>Voucher</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for shopping_cart in shopping_carts %}
                            <tr>
                                <td>{{ shopping_cart.id }}</td>
                                <td>{{ shopping_cart.purchaseAt ? shopping_cart.purchaseAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{% if shopping_cart.voucher is not null %}<span>{{ shopping_cart.voucher.getDiscountPercentage }}<span>&#37;</span></span>{% else %}<span>N/A</span>{% endif %}</td>
                                <td class="no-wrap-content">
                                    <a href="{{ path('shopping_cart_invoice_details', {'id': shopping_cart.id}) }}" class="btn btn-outline-danger btn-xs" title="Export to PDF"><i class="fas fa-file-pdf"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /form inputs -->
        </div>
        <!-- /content area -->
    </div>
    <!-- /main content -->
{% endblock %}

{% block javascript_extras %}
    <!-- Theme JS files -->
    <script src="{{ asset('js/demo_pages/form_inputs.js') }}"></script>

    <script>
        $(document).ready(() => {
            $('.table').DataTable();
        });
    </script>
{% endblock %}
