<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>

        <!-- Global stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/icons/icomoon/styles.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/bootstrap_limitless.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/layout.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/components.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/colors.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/app.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/icons/fontawesome/styles.min.css') }}" rel="stylesheet" type="text/css">
        <!-- /global stylesheets -->

        {% block styles_extras %}{% endblock %}

        <!-- Core JS files -->
        <script src="{{ asset('js/main/jquery.min.js') }}"></script>
        <script src="{{ asset('js/main/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('js/plugins/loaders/blockui.min.js') }}"></script>
        <script src="{{ asset('js/plugins/tables/datatables/datatables.min.js') }}"></script>
        <script src="{{ asset('js/plugins/tables/datatables/extensions/responsive.min.js') }}"></script>
        <script src="{{ asset('js/demo_pages/datatables_responsive.js') }}"></script>
        <!-- /core JS files -->

        <script src="{{ asset('assets/js/app.js') }}"></script>
        <script src="{{ asset('assets/js/custom.js') }}"></script>

        {% block javascript_extras %}{% endblock %}
        <!-- /theme JS files -->

    </head>
    <body>
        <!-- Page content -->
        <div class="page-content">
            {% block nav %}
                <!-- Main sidebar -->
                <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

                    <!-- Sidebar mobile toggler -->
                    <div class="sidebar-mobile-toggler text-center">
                        <a href="#" class="sidebar-mobile-main-toggle">
                            <i class="icon-arrow-left8"></i>
                        </a>
                        Navigation
                        <a href="#" class="sidebar-mobile-expand">
                            <i class="icon-screen-full"></i>
                            <i class="icon-screen-normal"></i>
                        </a>
                    </div>
                    <!-- /sidebar mobile toggler -->

                    <!-- Sidebar content -->
                    <div class="sidebar-content">
                        <!-- Main navigation -->
                        <div class="card card-sidebar-mobile">
                            <ul class="nav nav-sidebar" data-nav-type="accordion">
                                <li class="nav-item">
                                    <a href="{{ path('sale_item_index') }}" class="nav-link {% if app.request.get('_route') == 'sale_item_index' %}active{% endif %}"><i class="icon-package"></i> <span>Sale Items</span></a>
                                    <a href="{{ path('tax_rate_index') }}" class="nav-link {% if app.request.get('_route') == 'tax_rate_index' %}active{% endif %}"><i class="icon-coin-dollar"></i> <span>Tax Rates</span></a>
                                </li>
                            </ul>
                        </div>
                        <!-- /main navigation -->
                    </div>
                    <!-- /sidebar content -->

                </div>
                <!-- /main sidebar -->
            {% endblock %}

            {% block content %}{% endblock %}
        </div>
    </body>
</html>
